/*reset css
.menu__inicial li:first-child {
    margin-right: 70%;   
    float: right;
}    margin-left: 0;
*/
/*



.menu__inicial li {
    float: right;
} 
.menu__inicial li:first-child {
    float: left; 
} 


.geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .genos-<uniquifier> {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .gayathri-thin {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.gayathri-regular {
  font-family: "Gayathri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gayathri-bold {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  */
/*////Variaveis/////////////////////////*/
:root { 
    --color-qua: #F4AC45;
    --color-tre: #92BFB1;
    --color-seg: #DAD6D6;
    --color-pri: #000000;
    --font-cab: "Geo", sans-serif;
    --font-sab: "Genos", sans-serif;
    --font-ter: "Gayathri", sans-serif;

}
/*/////////////////////////////////*/
/*///Inicio/////////////////////////*/
/*/////////////////////////////////*/
body{
    background-color: var(--color-seg);
    height: 100%;
    width: 100%;
}
.menu__inicial{
    width: 100%;
    margin-bottom: 4%;
}
.menu__inicial ul{
    display: flex;
    justify-content: space-between;
    margin: 1.25rem;
}
.menu__inicial li:first-child hr{
    border-top: 0.094rem solid var(--color-pri);
    margin: 0.094rem auto 0 0;
}
.menu__inicial ul:first-child span{
    width: 75%;
}
.menu__inicial hr{
    border: none;
    border-top: 0.094rem solid var(--color-pri);
    width: 50%;
    margin: 0.094rem 0 0 auto;
    border-radius: 0.094rem;
}
.menu__inicial a{
    font-size: 1.4rem;
    font-weight: 200;
    margin: 1rem;
    color: var(--color-pri);
}
/*/////////////////////////////////*/
/*//corpo/////////////////////////*/
/*/////////////////////////////////*/
.card_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card_me h2{
    margin: auto;
    font-size: 2.125rem;
    font-family: var(--font-sab);
    font-weight: 600;
}
.card_ent{
    display: flex;
	flex-direction: column;
    background-color: var(--color-tre);
    border: 3px solid var(--color-pri);
    width: 100%;
    height: 19rem;
    margin: 20%;
    padding: 5%;
    border-radius: 0.438rem;
    transform: rotate(-1deg);
    box-shadow: -9px 20px 11.9px rgba(0, 0, 0, 0.55);
}
.card_ent h1{
    font-family: var(--font-ter);
    font-size: 2rem;
    margin: 1% auto 5% auto;
    width: 80%;
}
.card_ent p{
    margin: auto;
    font-family: var(--font-ter);
    font-size: 1.5rem;
}
.card_ent button{
    width: 7rem;
    height: 2rem;
    padding-bottom: 2%;
    border: 2px solid var(--color-pri);
    border-radius: 1rem;
    background-color: var(--color-qua);
    font-size: 0.8rem;
    color: var(--color-pri);
}
/*/////////////////////////////////*/
/*//final////////////////////////////*/
/*/////////////////////////////////*/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 1rem;

}
footer .botao_f{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 10.9px rgba(0, 0, 0, 0.24);
    background-color: #E3DDDD;
    margin: auto;
    text-align: center;
    width: 70px; 
    height: 30px;
    border-radius: 100px 100px 0 0;
    color: var(--color-seg);
}

.botao_f a{
    color: #292929;
}
/*///////////////////////////////*/
/*//Resposividade////////////////*/
@media (min-width: 601px) {
    .card_me{
        flex-direction: row;
        align-items: center;
    }
    .card_me h2{
        margin: 30px auto;
    }
    footer{
        position: absolute;
        bottom: 0;
        margin: 1rem 100%;
        width: 100%;
    }
    footer .botao_f{
        background-color: #E3DDDD;
        margin: 2rem 100% 0 100%;
        text-align: center;
        width: 70px; 
        height: 30px;
        border-radius: 100px 100px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-seg);
    }
}
/*//////////////////////////////*/
/*///interação//////////////////*/
@keyframes rotate-animation {
    from {
        transform: rotate(-1deg);
    }
    to {
        transform: rotate(1deg);
    }
}
.card_ent:hover {
        animation: rotate-animation 0.5s linear infinite alternate; /* Aplicando a animação ao passar o mouse por cima */
        transition: transform 0.2s ease;
    }